<div id="links-active-scaffold">
  <h2 style="margin: 0px;">Import Rank Reports</h2>    
  <p style="margin-top: 0px;">Import CSV from SEOBook Rank Checker</p>  
  <% form_tag '/rank_reports/import_rank_report_from_csv', :multipart => true do %>
    <%= file_field 'csv', 'file' %>     
    <%= submit_tag 'Upload' %>
  <% end %>       
</div>